
*{
    padding: 0;
    margin: 0;
}
body{
    background:var(--primary-color);
    color: var(--secondary-color);
}
:root{
    --primary-color:#e6e6fa;
    --secondary-color:rgb(0, 0, 0);
    --tritary-color:linear-gradient(45deg,rgb(108, 251, 251),rgb(128, 250, 142))
}
.dark-theme{
    --primary-color:rgb(16, 16, 16);
    --secondary-color:#fff;
    --tritary-color:linear-gradient(53deg, grey, rgb(194, 59, 244),red);
}
li{
    list-style: none;
}
a{ 
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
}
a:hover{
    color: orange;
    font-weight: bold;
}
header{  
    width: 100%;
    height: auto;
}
.navbar{
    position: relative;
    height: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content:space-between;
}
.navbar .themechange{
    position: relative;
    width:70px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 30px;
    border: 2px solid var(--secondary-color);
}
.navbar .themechange img{
    position: absolute;
    transform: translateX(50%);
}
.navbar .logo a{
    letter-spacing: 1rem;
    font-size: 2rem;
    font-family: 'Times New Roman';
    color: deepskyblue;
    text-shadow: 7px 5px 5px blue;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 15px;
}
.navbar .logo a:hover{
    color:#d83f87;
    font-weight: bold;
    font-size: 2rem;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle-btn{
    color:var(--tritary-color);
    font-size:2rem;
    cursor: pointer;
    display: none;
}
@media (max-width: 992px){
    .navbar .links{
        display: none;
    }
    .navbar .toggle-btn{
        display:block ;
    }
    .dropdown-menu{
        display: block;
    }
}
.navbar .toggle-btn{
    display: block;
}
.dropdown-menu{
    position: absolute;
    right:2rem;
    top: 40px;
    width: 200px;
    height: 0;
    background: rgba(131, 204, 250, 0.441);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open{
    height: auto;
}
.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(30%);
}
@media (max-width:576px){
    .dropdown-menu{
        left: 2rem;
        width:unset
    }
}
div.info{
    position: absolute;
    font-size: 20px;
    margin-top: 80px;
}
.text-animate .text{
    position: relative;
    color:#d83f87;
    font-size: 40px;
    font-weight: 600;
}
.text-animate .text.first-text{
    color: var(--secondary-color);
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background:var(--primary-color);
    border-left: 2px solid #00c9f3;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate {
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
.projects{
    float: left;
    margin-top: 70px;
    display:flex;
}
.projects .pro:hover{
    transform: scale(1.1);
}
@media (max-width:500px){
    .projects{
        flex-direction: column!important;
    }
}
.projects .pro{
    display:flex;
    flex-direction: column-reverse;
    color: var(--secondary-color);
    padding: 5px;
    max-width:100%;
    height: auto;
    background:transparent;
    border: 1px solid brown;
    border-radius: 5px;
    margin:15px;
    box-shadow: 4px 6px 7px rgb(91, 93, 93);
}
.projects .pro span{
    display: block;
    font-family: monospace;
    font-weight: bold;
    color:#ffcc00;
    text-transform: uppercase;
    text-align: center;
    background:linear-gradient(45deg,#00ffff,#333333,#cccc99);
}
li::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #00c9f3;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}
li:hover::after {
    transform: scaleX(1);
}
img#lightmode{
    float: right;
    margin:4px 7rem 0 0;
    width: 2rem;
    height: 2rem;
}
.section-1{
    margin-left: 50px;
}
.project_images{
    display: flex;
    width: auto;
    max-height: 10rem;
    aspect-ratio:3px/2px;

}
.skills{
    margin-top:30rem;
}
.IT{
    padding: 10px;
    width:60%;
    height:auto;
    border: 2px solid aquamarine;
    box-shadow: 0 5px 3px grey;
    background: transparent;
    margin: 15px 0 15px 0;
    border-radius: 20px;
    transform: translateX(15%);
}
.IT:nth-child(even){
    transform: translateX(50%);
    width: 60%;
}
.IT:hover{
    box-shadow: 0 0 20px aqua;
}
span .caption{
    text-align: center;
}
footer{
    background: transparent;
    width: 100%;
    height: auto;
    box-shadow: inset 0 0 10px rgb(140, 142, 142);
}
footer .footer-items{
    text-align: center;
    width: 100%;
    height: 100%;
    
    
}
button.btn{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 7rem;
    height: auto;
    border-radius: 5px;
    margin:2px;
    text-align: start;
    padding:5px;
    padding-top: 5px;
    box-shadow:0 0 9px rgb(0, 195, 255);
}
button.btn i{
float: right;
}
button.btn:hover{
    transform: scale(1.1);
    background:white;
    opacity: 0.6;
    transition: 0.5s;
    color:black;
}
.btn.btn-instagram{
    border: 2px solid red;
    background:linear-gradient(65deg,rgb(255, 0, 0),rgb(248, 184, 7),rgb(255, 0, 153));
}
.btn.btn-linkedin{
    border: 2px solid rgb(0, 145, 255);
    background: rgb(0, 200, 255);
    color: white;
}
.btn.btn-github{
    border: 2px solid black;
    background: linear-gradient(-45deg,black,grey,black);
    color: white;
}
.media-link-btns a{
    margin: 10px 0 10px 20px;
    text-decoration: none;
}
.social-media-contact{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.section{
    font-family: 'Times New Roman';
    text-align: center;
    letter-spacing: 30px;
    color:var(--secondary-color);
    text-shadow: 6px 3px 6px rgb(104, 104, 104);
}
.list-items li a{
    text-decoration: none;
    color:var(--secondary-color)
}
